#top {
text-align: center;
background-color: grey;
color: white;
font-weight: bold;
}

a {
background-color: yellow;
}

.grid {
display: flex;
flex-wrap: wrap;
}

.box {
display: flex;
flex-direction: column;
width: 400px;
border: black;
text-align: center;
margin: 20px;
}